<div id="about_bootstrap">
  <div class="container">
    <section>
      <div class="row foo-color">
        <div class="span-one-third first-div">
          <h3>About Bootstrap</h3>
            <p><a title="Bootstrap" target="_blank" href="http://getbootstrap.com/">Bootstrap</a> is designed to help people of all skill levels &ndash; designer or developer, huge nerd or early beginner. Use it as a complete kit or use it to start something more complex.</p>
            <p>Unlike other front-end toolkits, Bootstrap was designed first and foremost as a styleguide to document not only its features, but best practices and living, coded examples.</p>
            <p>Built to support new HTML5 elements and syntax with progressively enhanced components.</p>
        </div>
        <div class="span-one-third first-div">
          <h3>Browser support</h3>
            <p>Bootstrap is tested and supported in major modern browsers like Chrome, Firefox, and Internet Explorer.</p>
            <img width="280" height="52" title="Tested and supported in Chrome, Safari, Firefox, Internet Explorer, and Opera." alt="Tested and supported in Chrome, Safari, Firefox, Internet Explorer, and Opera." src="//d85wutc1n854v.cloudfront.net/live/imgs/browser_logos.png">
            <ul>
              <li>Chrome 14+</li>
              <li>Safari 5</li>
              <li>Firefox 5+</li>
              <li>Internet Explorer 8+</li>
              <li>Opera 11</li>
            </ul>
        </div>
        <div class="span-one-third first-div">
          <h3>Features &amp; includes</h3>
          <p>Bootstrap provides an unparalleled array of features and reusable components that let you hit the ground running:</p>
          <ul>
            <li>Responsive <a target="_blank" title="Bootstrap documentation, grid system" href="http://getbootstrap.com/css/#grid">12-column grid</a></li>
            <li>12 custom, modular <a title="Bootstrap documentation, JavaScript" target="_blank" href="http://getbootstrap.com/javascript/">jQuery plugins</a></li>
            <li><a target="_blank" title="Bootstrap documentation, Base CSS" href="http://getbootstrap.com/css/">CSS styles</a> for forms, navigation &amp; more</li>
            <li>Dozens of reusable <a title="Bootstrap documentation, Components" target="_blank" href="http://getbootstrap.com/components/">components</a></li>
            <li>Components are scaled according to a range of resolutions and devices</li>
            <li>Built on <a title="LESS - The dynamic stylesheet language" target="_blank" href="http://lesscss.org/">LESS</a> (CSS included)</li>
            <li>Complete styleguide documentation</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<style>
 .first-div{
  width: 350px;
  float: left;
  position: 40px;
 }
 .foo-color{
  background-color: #222222;
  color: #FFFFFF;
 
  padding: 20px
 }
</style>

<!-- <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/bxslider-4/jquery.bxslider.min.js"></script>

     -->