<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>


<!-- 
http://thephuse.com/development/email-password-auth-with-angularfire/ se login page bana sakte hai

http://shapeshed.com/creating-a-basic-site-with-node-and-express/
for express app genration
pls check
  https://github.com/ericclemmons/genesis-skeleton
  https://github.com/petecoop/generator-express
  https://github.com/madhums/node-express-mongoose-demo
  https://www.firebase.com/docs/security-quickstart.html
  https://www.firebase.com/docs/security-quickstart.html
. . . . . . . . . . . . . . . . . . . . . . . .  . . .  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . .  . . . . . . . .  . . . . . . . . . . . .. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  . .  . . . . . . . 
 
 <div class="sign-up">
  <h1>Login through</h1>
  <span><a class="auth-class" href="javascript:void(0)" data-send="facebook">Facebook</a></span>
  <span><a class="auth-class" href="javascript:void(0)" data-send="github">Github</a></span>
  <span><a class="auth-class" href="javascript:void(0)" data-send="twitter">Twitter</a></span>
  
</div>
<span id="log-out"><a href="javascript:void(0)" class="log-out">Logout</a></span>
user auth -->